<div class="container well" id="SubNavChangeSearch">
    <ul>
        <li class="destinationName">Hotel Spas in <span id="SubNavCurrentDestination">Dubai, United Arab Emirates</span></li>
        <li>From May 28, 2014 To May 30, 2014 </li>
        <li>1 room(s), 2 adult(s) </li>
        <li class="last">
            <a class="iconSet" id="SubNavChangeSearchLink" data-target="#search_change" data-toggle="collapse" href="#">
                <i class="fa fa-caret-right size16"></i>
                <span class="iconText">Change your search</span>
            </a>
        </li>
    </ul>
</div>
<div id="search_change" class="rowsearch well container collapse">
    
    <ul class="nav nav-tabs myTab2pos" id="myTab2">
        <li onclick="mySelectUpdate()" class="active"><a data-toggle="tab" href="#airtab3"><span class="flighttab3"></span><span class="hidetext">Air</span>&nbsp;</a></li>
        <li onclick="mySelectUpdate()" class=""><a data-toggle="tab" href="#hoteltab3"><span class="hoteltab3"></span><span class="hidetext">Hotel</span>&nbsp;</a></li>
        <li onclick="mySelectUpdate()" class=""><a data-toggle="tab" href="#cartab3"><span class="cartab3"></span><span class="hidetext">Car</span>&nbsp;</a></li>
        <li onclick="mySelectUpdate()" class=""><a data-toggle="tab" href="#vacationstab3"><span class="suitcasetab3"></span><span class="hidetext">Vacations</span>&nbsp;</a></li>
        <li onclick="mySelectUpdate()" class=""><a data-toggle="tab" href="#flighthoteltab3"><span class="flighthoteltab3"></span><span class="hidetext">Flight+Hotel</span>&nbsp;</a></li>
        <li onclick="mySelectUpdate()" class=""><a data-toggle="tab" href="#cruisetab3"><span class="cruisetab3"></span><span class="hidetext">Cruise</span>&nbsp;</a></li>
        <li onclick="mySelectUpdate()" class=""><a data-toggle="tab" href="#hotelcartab3"><span class="hotelcartab3"></span><span class="hidetext">Hotel+Car</span>&nbsp;</a></li>
        <li onclick="mySelectUpdate()" class=""><a data-toggle="tab" href="#flighthotelcartab3"><span class="flighthotelcartab3"></span><span class="hidetext">Flight+Hotel+Car</span>&nbsp;</a></li>
    </ul>

    <div class="tab-content">

        <!-- Tab airtab3 -->
        <div class="tab-pane  active" id="airtab3">

            

        </div>
        <!-- End of Tab airtab3 -->
        <!-- Tab hoteltab3 -->
        <div class="tab-pane " id="hoteltab3">

        </div>
        <!-- End of Tab hoteltab3 -->
        <!-- Tab cartab3 -->
        <div class="tab-pane " id="cartab3">

        </div>
        <!-- End of Tab cartab3 -->
        <!-- Tab vacationstab3 -->
        <div class="tab-pane " id="vacationstab3">

        </div>
        <!-- End of Tab vacations2 -->
        <!-- Tab flighthoteltab3 -->
        <div class="tab-pane " id="flighthoteltab3">

        </div>
        <!-- End of Tab flighthoteltab3 -->
        <!-- Tab cruisetab3 -->
        <div class="tab-pane " id="cruisetab3">

        </div>
        <!-- End of Tab cruisetab3 -->
        <!-- Tab hotelcartab3 -->
        <div class="tab-pane " id="hotelcartab3">

        </div>
        <!-- End of Tab hotelcartab3 -->
        <!-- Tab flighthotelcartab3 -->
        <div class="tab-pane " id="flighthotelcartab3">

        </div>
        <!-- End of Tab flighthotelcartab3 -->

        <div class="clearfix"></div><br />

        <button type="submit" class="btn-search4 margleft15">Search</button>
    </div>
    
</div>