<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
    <!-- MOBIFY - DO NOT ALTER - PASTE IMMEDIATELY AFTER OPENING HEAD TAG -->
    <script type="text/javascript">/*<![CDATA[*/(function (a) { function b(a, b) { if (+a) return ~a || (d.cookie = h + "=; path=/"); j = d.createElement(e), k = d.getElementsByTagName(e)[0], j.src = a, b && (j.onload = j.onerror = b), k.parentNode.insertBefore(j, k) } function c() { n.api || b(l.shift() || -1, c) } if (this.Mobify) return; var d = document, e = "script", f = "mobify", g = "." + f + ".com/", h = f + "-path", i = g + "un" + f + ".js", j, k, l = [!1, 1], m, n = this.Mobify = { points: [+(new Date)], tagVersion: [6, 1], ajs: "//a.mobify.com/ean-travelnow/a.js" }, o = /((; )|#|&|^)mobify-path=([^&;]*)/g.exec(location.hash + "; " + d.cookie); o ? (m = o[3]) && !+(m = o[2] && sessionStorage[h] || m) && (l = [!0, "//preview" + g + escape(m)]) : (l = a() || l, l[0] && l.push("//cdn" + i, "//files01" + i)), l.shift() ? (d.write('<plaintext style="display:none;">'), setTimeout(c)) : b(l[0]) })(function () { if (/ip(hone|od)|android.*(mobile)|blackberry.*applewebkit/i.test(navigator.userAgent)) { return [1, "//cdn.mobify.com/sites/ean-travelnow/production/mobify.js"] } return [0, Mobify.ajs] })/*]]>*/</script>
    <!-- END MOBIFY -->
    <script type="text/javascript" charset="utf-8">
        var mobileColors = '{"brand":"#2a7ab5","lightbrand":"#5595c4","darkbrand":"#0b427a","accent":"#dde7f3","lightaccent":"#e6eef7","darkaccent":"#bad0e6","borderaccent":"#7190ad","button":"#2a7ab5","darkbutton":"#0b427a","lightbutton":"#5595c4","buttontext":"#fefefe","link":"#0b427a","activelink":"#0b427a","visitedlink":"#0b427a","warning":"#a12c1d","lightwarning":"#f2e0e0","border":"rgba(11,66,122,0.2)","special":"rgba(255,217,199,1)","specialtext":"#555","dark":"#555","meddark":"#888","med":"#bbb","light":"#ddd","xlight":"#eee"}';
        if (mobileColors) {
            try {
                var mobileColorsJSONObj = JSON.parse(mobileColors);
                window.MobileColors = mobileColorsJSONObj;
            } catch (err) {
            }
        }
    </script>

    <title>hotels724.com - Global Discount Hotel Reservations</title>

    <meta charset="utf-8">

    <script type="text/javascript" charset="utf-8">
        var cid = "459173";
        var imagePath = "http://m.hotels724.com/templates/459173/static/115/default/images/";
        var configuredDateFormat = null;
        var distanceTranslation = "Distance";
        var i18n = {
            no_dates: "I don't have specific dates yet",
            loader: "Loading Hotels",
            price_filter_range_max: "From TRY{low_price} to TRY{high_price}",
            price_filter_range: "From TRY{low_price} to TRY{high_price}",
            tripadvisor_filter_range: "From {low_rating} to {high_rating}",
            starrating_filter_range: "From {low_rating} to {high_rating}",
            filter_close: "Close",
            filter_show_all: "Show all",
            view_full_site: "View Full Site",
            see_more: "See More",
            filter_results: "Filter Results",
            filter_help: "Search by hotel name",
            rating: "{low_rating} to {high_rating}",
            please_select_one: "Please select one",
            see_more_filter_options: "See More Filter Options",
            or: "or",
            server_error: "There has been a problem with your request.",
            currency: "TRY"
        };
        appConfig = {
            regionId: "EMEA",
            analytics: {
                tracking: true,
                gaAccountKey: "UA-50549705-1",
                yahooAccountKey: ""
            },
            landing: {
                baseUrl: "http://m.hotels724.com/templates/459173/",
                baseCachedUrl: "http://m.hotels724.com/templates/cindex/459173/"
            },
            search: {
                targetId: "",
                checkin: 20140509,
                checkout: 20140511,
                bookingWindow: "03",
                stayLength: "02",
                roomCount: "01",
                adultCount: "02",
                childCount: "00"
            },
            booking: {
                applyCouponUrl: 'http://m.hotels724.com/templates',
                removeCouponUrl: 'http://m.hotels724.com/templates'
            }
        }
    </script>

    <link type="text/css" rel="stylesheet" media="screen" href="~/Content/ean_assets/css/base.css">
    <!--[if lt IE 11]>
        <link type="text/css" rel="stylesheet" media="screen" href="~/Content/ean_assets/css/base.ie.css">
         <link href="~/Content/ean_assets/css/SubNav.ie.css" rel="stylesheet" media="screen" type="text/css">
    <![endif]-->
    <!--[if lt IE 9]>
        <link type="text/css" rel="stylesheet" media="screen" href="~/Content/ean_assets/css/base.ie.old.css">
    <![endif]-->

    <link href="~/Content/ean_assets/css/home.css" rel="stylesheet" />
    <!--[if lt IE 11]>
    <link type="text/css" rel="stylesheet" media="screen" href="~/Content/ean_assets/css/home.ie.css">
    <![endif]-->

    <link href="~/Content/ean_assets/css/custom.css" rel="stylesheet" />
</head>

<body class="en">
    <div id="Header">

        <div id="mobile-header" style="display: none">
            <style type="text/css"></style>

            <a href="http://www.hotels724.com">
                <img src="~/Content/ean_assets/images/mobil_banner.jpg" />
            </a>
        </div>

        <a href="http://www.hotels724.com">
            <img src="~/Content/ean_assets/images/tnow_topheader960.jpg" />
        </a>
    </div>
    <!-- /#header -->

    <input type="hidden" value="landing" id="page-name-field" />

    <div id="Content">
        @RenderBody()
    </div>
    <!-- /#Content -->

    <div id="Footer">
        <div class="menu taLogo">
            Now with
            <img src="http://www.tripadvisor.com/img/cdsi/partner/tripAdvisorLogo-13419-0.gif" width="107" height="19" alt="TripAdvisor&reg;" />
            reviews       
        </div>

        <ul id="footer-utility-links" class="menu menuBorder">
            <li class="">
                <a href="http://m.hotels724.com/templates/459173/privacy-policy?lang=en&currency=TRY&secureUrlFromDataBridge=https%3A%2F%2Fwww.travelnow.com&requestVersion=V2" target="_blank">Privacy Policy                    </a>
            </li>
            <li class="">
                <a href="http://m.hotels724.com/templates/459173/terms-of-use?lang=en&currency=TRY&secureUrlFromDataBridge=https%3A%2F%2Fwww.travelnow.com&requestVersion=V2&source=g3" target="_blank">Terms of Use                    </a>
            </li>
            <li class="last">
                <a href="http://m.hotels724.com/templates/459173/faq?lang=en&currency=TRY&secureUrlFromDataBridge=https%3A%2F%2Fwww.travelnow.com&requestVersion=V2&linkId=Footer:Hot:Nav:FAQ" target="_blank">FAQ                    </a>
            </li>
        </ul>

    </div>
    <!-- /#footer -->

    <div id="disambig" class="hide">
        <div class="boxModule">
            <div class="contentBoxModule">
                <h2>Your Search Returned Multiple Locations</h2>
                <p>
                    Please choose the correct location below               
                </p>
                <div id="disambig-overflow-container">
                    <fieldset>
                        <ul></ul>
                    </fieldset>
                </div>
                <button class="button">Search</button>
            </div>
        </div>
    </div>

    <div id="SearchBox_DestinationAutoSuggest">
        <!--
            <li class='{categoryClass}'>
                <div class='iconSet'>
                    <span class='largeIcon'>{categoryIcon}</span>
                    <span class='iconText'>{categoryName}</span>
                </div>
            </li>
            -->
    </div>

    <script src="~/Content/ean_assets/js/jquery.js"></script>
    <script src="~/Content/ean_assets/js/base.js"></script>
    <script src="~/Content/ean_assets/js/home.js"></script>
    
</body>
</html>
