<div id="tab3" class="form-tab">
    <div class="w50percent">
        <div class="wh90percent textleft">
            <span class="opensans size13"><b>Around Where ?</b></span>
            <input type="text" class="form-control" placeholder="Yalova">
        </div>
    </div>

    <div class="w50percentlast">
        <div class="wh90percent textleft right">
            <span class="opensans size13"><b>Hotel's Name</b></span>
            <input type="text" class="form-control" placeholder="Part of Hotel's Name">
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="w50percent">
        <div class="wh90percent textleft">
            <span class="opensans size13"><b>Date For</b></span>
            <input type="text" class="form-control mySelectCalendar2" id="datepicker4" placeholder="mm/dd/yyyy" />
        </div>
    </div>

    <div class="w50percentlast">
        <div class="wh90percent textleft right">
            <span class="opensans size13"><b>Time At</b></span>
            <select class="form-control mySelectBoxClass">
                <option>Select time</option>
                <option>Lowest fare</option>
                <option>Morning</option>
                <option>Midday</option>
                <option>Afternoon</option>
                <option>Evening</option>
            </select>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="room1">
        <div class="w50percent">
            <div class="wh90percent textleft">
                <span class="opensans size13"><b>Adult</b></span>
                <select class="form-control mySelectBoxClass">
                    <option>1</option>
                    <option selected>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>

        <div class="w50percentlast">
            <div class="wh90percent textleft right">
                <span class="opensans size13"><b>Child</b></span>
                <select class="form-control mySelectBoxClass">
                    <option>0</option>
                    <option selected>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
    </div>
    <form action="@Url.Action("RoomSearch", "Home")">
        <button type="submit" class="btn-search2">Search</button>
    </form>
</div>
