@{
    Layout = null;
}



<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" itemscope itemtype="http://schema.org/">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta content="app-id=751656887" name="apple-itunes-app">

    <script type="text/javascript">
        (function () {
            var c = document.cookie, i = c.indexOf('_abs='), j = c.indexOf(';', i + 1 ? i : 0)
            v_abs = i + 1 ? c.substring(i + 5, j + 1 ? j : c.length) : 'L'
            v_abp = '---------B------OB'
            v_abu = [, , , , , , , , , 1, , , , , , , 1, 1]
        })()
    </script>
    <style type="text/css">
        .mvt-var {
            display: none;
        }

        dfn.mvt-def, dfn.mvt-var {
            font: inherit;
        }
    </style>

    <title>Venere.com&reg; | Hotels, B&amp;B, Vacation Rentals: Hotel Deals and Reviews</title>
    <meta name="Description" content="Compare over 134.000+ Hotels, B&B's and Vacation Rentals on Venere.com. Read 800.000+ hotel reviews by real guests!" />
    <meta name="Keywords" content="hotels, hotel reservations, accommodation, lodging, bed and breakfasts" />
    <meta http-equiv="Content-Language" content="en" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="google-site-verification" content="jzCYOVQ6lxktL-y3n9uqAtdXZYSZpH-pJKobYyO37j8" />
    <meta name="y_key" content="389db613c7372b22" />
    <meta name="copyright" content="Venere Net Srl" />
    <meta name="author" content="Venere Hotels" />
    <meta property="fb:admins" content="1336203810" />
    <meta property="fb:app_id" content="126109207441826" />
    <meta property="og:description" content="Compare over 134.000+ Hotels, B&B's and Vacation Rentals on Venere.com. Read 800.000+ hotel reviews by real guests!" />
    <meta property="og:type" content="" />
    <meta property="og:title" content="Venere.com&reg; | Hotels, B&amp;B, Vacation Rentals: Hotel Deals and Reviews" />
    <meta property="og:url" content="http://www.venere.com" />
    <meta property="og:image" content="http://www.venere.com/img/logo/en_logo_venere_tag.png" />
    <meta itemprop="name" content="Venere.com&reg; | Hotels, B&amp;B, Vacation Rentals: Hotel Deals and Reviews" />
    <meta itemprop="description" content="Compare over 134.000+ Hotels, B&B's and Vacation Rentals on Venere.com. Read 800.000+ hotel reviews by real guests!" />
    <meta itemprop="image" content="http://www.venere.com/img/logo/en_logo_venere_tag.png" />
    <meta name="robots" content="NOODP, NOYDIR" />


    <link rel="stylesheet" type="text/css" href="http://www.venere.com/common/styles/wwwroot/home_page/mvt/9B/home_page_allcss_v.55.53132.css" media="screen" />
    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/venere_assets/home_page_allcss_v.55.53132.css")" media="screen" />*@
    <link rel="canonical" href="http://www.venere.com" />
    <link rel="publisher" href="https://plus.google.com/106567551764453277724" />

    <script type="text/javascript" src="@Url.Content("~/Content/venere_assets/home_page_alljs_v.55.53132.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/venere_assets/home_page_searchbox_children_en_row.js")"></script>

</head>
<body id="home" class="en">
    <div id="headerFullRow">&nbsp;</div>
    <div id="themewrapper">
        <div id="searchbox" class="searchwidget NoCallcenter">
            <form id="vSearch" name="vSearch" action="/site/index.php" onsubmit="return false;" autocorrect="off">
                <input type="hidden" name="lg" value="en" />
                <input type="hidden" name="geoid" value="" />
                <input type="hidden" name="city_area" value="" />
                <input type="hidden" name="ac_text" value="" />
                <strong id="sb-title"></strong>
                <span class="searchbox-elem">
                    <span id="searchbox_where" class="sb-label">Destination</span>
                    <input tabindex="1" id="city" name="city" type="text" alt="Rome, Paris, New York..." value="" autocomplete="off" title="Where do you want to go?" />
                    <span id="city-clear">&nbsp;</span>
                </span>
                <span class="searchbox-elem">
                    <span id="searchbox_from" class="sb-label">Check-in</span>

                    <input tabindex="2" name="checkin" id="checkin" type="text" alt="dd/mm/yyyy" value="" autocomplete="off" maxlength="10" />

                </span>
                <span class="searchbox-elem">
                    <span id="searchbox_to" class="sb-label">Check-out</span>

                    <input tabindex="3" name="checkout" id="checkout" type="text" alt="dd/mm/yyyy" value="" autocomplete="off" maxlength="10" />

                </span>
                <input type="hidden" name="pval" value="null" />
                <input type="hidden" name="rval" value="null" />
                <input type="hidden" name="rgval" class="rgval" value="" />
                <span class="searchbox-elem">
                    <span id="searchbox_guests_rooms" class="sb-label">Rooms & Guests</span>
                    <div class="pr_val_container">
                        <input tabindex="4" class="pr_val_fake" name="pr_val_fake" type="text" value="" />
                        <div class="pr_val_textfield"></div>
                        <p class="sw_tooltip" title="Travelling with children? Special rates are available for children and teenagers under 18."><span>&nbsp;</span>NEW! Family hotels and special rates for kids</p>
                        <div class="pr_val_modal">
                            <div class="pr_val_modal_content">
                                <div class="sw-rooms-list"></div>
                                <div class="searchbox_modal_footer">
                                    <input type="button" class="button btn-grey sw_accept_modal" value="Ok">
                                </div>
                                <div class="sw_close_modal"><span>&nbsp;</span></div>
                            </div>
                        </div>
                        <div class="sw_background_modal"></div>
                    </div>
                </span>
                <span class="searchbox-elem">
                    <input onblur="0" border="0" type="submit" title="" value="Search" id="find" class="button btn-blue" />
                </span>
            </form>
        </div>
    </div>

    <script language="javascript" type="text/javascript">
        var lang = 'en';

        var popUp = new LegalPopUp();
        $(document).ready(function () {
            $('#terms_of_service').click(function () {
                popUp.show('terms_of_service', lang);
            });
            $('#cookie_policy').click(function () {
                popUp.show('cookie_policy', lang);
            });
            $('#header_cookie_policy').click(function () {
                popUp.show('cookie_policy', lang);
            });
            $('#privacy').click(function () {
                popUp.show('privacy', lang);
            });
        });

    </script>
    
</body>
</html>