
ul#TodaysTopDeals li ul.deals li.last, ul#TopDestinations li ul.deals li.allHotels {margin-bottom:0 !important;}
#check-in-out .dateless input, input.radio {border:0;}
#SearchBox #PopularDestinations ul {padding-bottom:10px;}