@using H724.Models
@{
    var groups = new List<SpaServiceGroup>();

    var group1 = new SpaServiceGroup
    {
        Name = "Face Care Services",
        Services = new List<SpaService>
        {
            new SpaService {Name = "Face Comfort Massage", DurationInMinute = 25, Price = 70},
            new SpaService {Name = "Quick Facial", DurationInMinute = 30, Price = 90}
        }
    };

    var group2 = new SpaServiceGroup
    {
        Name = "Specific Facial Treatments",
        Services = new List<SpaService>
        {
            new SpaService {Name = "Luxury Collagen Treatment", DurationInMinute = 55, Price = 250},
            new SpaService {Name = "Cell Active Age Renewal", DurationInMinute = 55, Price = 200},
            new SpaService {Name = "Firming Facial", DurationInMinute = 55, Price = 190},
            new SpaService {Name = "Double Max Lift Ox.-Treat.", DurationInMinute = 55, Price = 260}
        }
    };

    groups.Add(group1);
    groups.Add(group2);

    var gcounter = 0;
    var sorder = 0;
}


@foreach (var group in groups)
{
    var colorClass = gcounter % 2 == 0 ? "fblueline" : "fgreenline";
    
    <div class="@colorClass"><b>@group.Name</b></div>

    var scounter = 0;
    foreach (var service in group.Services)
    {
        var serviceClass = scounter % 2 == 0 ? "frow1" : "frow2";

    <div class="@serviceClass padtop5 padbot5">
        <div class="col-xs-12 col-sm-5 pad5">@service.Name</div>
        <div class="col-xs-5 col-sm-3 pad5"><b>@service.DurationInMinute min</b>&nbsp;|&nbsp;<b>$@service.Price</b></div>
        <div class="col-xs-3 col-sm-2">
            <button class="lightbtn mt1" type="button" data-toggle="collapse" data-target="#spa_service_@(sorder)">Details</button>
        </div>
        <div class="col-xs-3 col-sm-2">
            <button class="selectbtn mt1" type="button">Times</button>
        </div>
    </div>
    
        <div class="collapse frowexpand" id="spa_service_@(sorder)">
            <br />
            <p style="text-align: center">Details</p>
            <div class="clearfix"></div>
            <br />
            <p style="text-align: center">
                <button style="margin:0 auto;" class="hidebtn mt1" type="button" data-toggle="collapse" data-target="#spa_service_@(sorder)">Hide</button>
            </p>
            <br />
        </div>
        
        scounter++;
        sorder++;
    }

    gcounter++;
}


@*<div class="fblueline"><b>Face Care Services</b></div>

<div class="frow1 padtop5 padbot5">
    <div class="col-xs-12 col-sm-5 pad5">Face Comfort Massage</div>
    <div class="col-xs-5 col-sm-3 pad5"><b>25 min</b>&nbsp;|&nbsp;<b>$70</b></div>
    <div class="col-xs-3 col-sm-2">
        <button class="lightbtn mt1" type="button" data-toggle="collapse" data-target="#collapse10">Details</button>
    </div>
    <div class="col-xs-3 col-sm-2">
        <button class="selectbtn mt1" type="button" data-toggle="collapse" data-target="#collapse10">Times</button>
    </div>
</div>

<div class="collapse frowexpand" id="collapse10">

    <ul class="flightstable mt20">
        <li class="ft1"></li>
        <li class="ft2">Duration<br />
            <span class="grey">Economy</span><br />
            <b>5 h 45 min</b><br />
        </li>
        <li class="ft3">Connections<br />
            <span class="grey">Frankfurt, Germany</span><br />
            <b>1 h 25 min</b><br />
        </li>
        <li class="ft4">Seats left<br />
            <br />
            <b>6</b>
        </li>
        <li class="ft5">
            <button class="hidebtn mt1" type="button" data-toggle="collapse" data-target="#collapse10">Hide</button>
        </li>
    </ul>
    <div class="clearfix"></div>
    <br />
    <br />

</div>

<div class="frow2 padtop5 padbot5">
    <div class="col-xs-12 col-sm-5 pad5">Quick Facial</div>
    <div class="col-xs-5 col-sm-3 pad5"><b>30 min</b>&nbsp;|&nbsp;<b>$90</b></div>
    <div class="col-xs-3 col-sm-2">
        <button class="lightbtn mt1" type="button" data-toggle="collapse" data-target="#collapse11">Details</button>
    </div>
    <div class="col-xs-3 col-sm-2">
        <button class="selectbtn mt1" type="button" data-toggle="collapse" data-target="#collapse11">Times</button>
    </div>
</div>

<div class="collapse frowexpand" id="collapse11">

    <ul class="flightstable mt20">
        <li class="ft1"></li>
        <li class="ft2">Duration<br />
            <span class="grey">Economy</span><br />
            <b>5 h 45 min</b><br />
        </li>
        <li class="ft3">Connections<br />
            <span class="grey">Frankfurt, Germany</span><br />
            <b>1 h 25 min</b><br />
        </li>
        <li class="ft4">Seats left<br />
            <br />
            <b>6</b>
        </li>
        <li class="ft5">
            <button class="hidebtn mt1" type="button" data-toggle="collapse" data-target="#collapse11">Hide</button>
        </li>
    </ul>
    <div class="clearfix"></div>
    <br />
    <br />

</div>

<div class="fgreenline"><b>Specific Facial Treatments</b></div>

<div class="frow1 padtop5 padbot5">
    <div class="col-xs-12 col-sm-5 pad5">Luxury Collagen Treatment</div>
    <div class="col-xs-5 col-sm-3 pad5"><b>55 min</b>&nbsp;|&nbsp;<b>$250</b></div>
    <div class="col-xs-3 col-sm-2">
        <button class="lightbtn mt1" type="button" data-toggle="collapse" data-target="#collapse12">Details</button>
    </div>
    <div class="col-xs-3 col-sm-2">
        <button class="selectbtn mt1" type="button" data-toggle="collapse" data-target="#collapse12">Times</button>
    </div>
</div>

<div class="collapse frowexpand" id="collapse12">

    <ul class="flightstable mt20">
        <li class="ft1"></li>
        <li class="ft2">Duration<br />
            <span class="grey">Economy</span><br />
            <b>5 h 45 min</b><br />
        </li>
        <li class="ft3">Connections<br />
            <span class="grey">Frankfurt, Germany</span><br />
            <b>1 h 25 min</b><br />
        </li>
        <li class="ft4">Seats left<br />
            <br />
            <b>6</b>
        </li>
        <li class="ft5">
            <button class="hidebtn mt1" type="button" data-toggle="collapse" data-target="#collapse10">Hide</button>
        </li>
    </ul>
    <div class="clearfix"></div>
    <br />
    <br />

</div>

<div class="frow2 padtop5 padbot5">
    <div class="col-xs-12 col-sm-5 pad5">Cell Active Age Renewal</div>
    <div class="col-xs-5 col-sm-3 pad5"><b>55 min</b>&nbsp;|&nbsp;<b>$200</b></div>
    <div class="col-xs-3 col-sm-2">
        <button class="lightbtn mt1" type="button" data-toggle="collapse" data-target="#collapse13">Details</button>
    </div>
    <div class="col-xs-3 col-sm-2">
        <button class="selectbtn mt1" type="button" data-toggle="collapse" data-target="#collapse13">Times</button>
    </div>
</div>

<div class="collapse frowexpand" id="collapse13">

    <ul class="flightstable mt20">
        <li class="ft1"></li>
        <li class="ft2">Duration<br />
            <span class="grey">Economy</span><br />
            <b>5 h 45 min</b><br />
        </li>
        <li class="ft3">Connections<br />
            <span class="grey">Frankfurt, Germany</span><br />
            <b>1 h 25 min</b><br />
        </li>
        <li class="ft4">Seats left<br />
            <br />
            <b>6</b>
        </li>
        <li class="ft5">
            <button class="hidebtn mt1" type="button" data-toggle="collapse" data-target="#collapse11">Hide</button>
        </li>
    </ul>
    <div class="clearfix"></div>
    <br />
    <br />

</div>

<div class="frow1 padtop5 padbot5">
    <div class="col-xs-12 col-sm-5 pad5">Firming Facial</div>
    <div class="col-xs-5 col-sm-3 pad5"><b>55 min</b>&nbsp;|&nbsp;<b>$190</b></div>
    <div class="col-xs-3 col-sm-2">
        <button class="lightbtn mt1" type="button" data-toggle="collapse" data-target="#collapse14">Details</button>
    </div>
    <div class="col-xs-3 col-sm-2">
        <button class="selectbtn mt1" type="button" data-toggle="collapse" data-target="#collapse14">Times</button>
    </div>
</div>

<div class="collapse frowexpand" id="collapse14">

    <ul class="flightstable mt20">
        <li class="ft1"></li>
        <li class="ft2">Duration<br />
            <span class="grey">Economy</span><br />
            <b>5 h 45 min</b><br />
        </li>
        <li class="ft3">Connections<br />
            <span class="grey">Frankfurt, Germany</span><br />
            <b>1 h 25 min</b><br />
        </li>
        <li class="ft4">Seats left<br />
            <br />
            <b>6</b>
        </li>
        <li class="ft5">
            <button class="hidebtn mt1" type="button" data-toggle="collapse" data-target="#collapse10">Hide</button>
        </li>
    </ul>
    <div class="clearfix"></div>
    <br />
    <br />

</div>

<div class="frow2 padtop5 padbot5">
    <div class="col-xs-12 col-sm-5 pad5">Double Max Lift Ox.-Treat.</div>
    <div class="col-xs-5 col-sm-3 pad5"><b>55 min</b>&nbsp;|&nbsp;<b>$260</b></div>
    <div class="col-xs-3 col-sm-2">
        <button class="lightbtn mt1" type="button" data-toggle="collapse" data-target="#collapse15">Details</button>
    </div>
    <div class="col-xs-3 col-sm-2">
        <button class="selectbtn mt1" type="button" data-toggle="collapse" data-target="#collapse15">Times</button>
    </div>
</div>

<div class="collapse frowexpand" id="collapse15">

    <ul class="flightstable mt20">
        <li class="ft1"></li>
        <li class="ft2">Duration<br />
            <span class="grey">Economy</span><br />
            <b>5 h 45 min</b><br />
        </li>
        <li class="ft3">Connections<br />
            <span class="grey">Frankfurt, Germany</span><br />
            <b>1 h 25 min</b><br />
        </li>
        <li class="ft4">Seats left<br />
            <br />
            <b>6</b>
        </li>
        <li class="ft5">
            <button class="hidebtn mt1" type="button" data-toggle="collapse" data-target="#collapse11">Hide</button>
        </li>
    </ul>
    <div class="clearfix"></div>
    <br />
    <br />

</div>*@